/*.parent{
    height: 500px;
    width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4px,auto);
    grid-template-rows: repeat(4px,auto);
    justify-content: space-between;
    align-content: space-between;
    color: brown;
}*/


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.page{
    height: 100vh;
    display: grid;
    background-color: cadetblue;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 50px auto 50px;
    grid-template-areas:"log log nav nav nav nav nav nav nav nav  "
     "cont cont cont cont cont cont cont sid sid sid"
     "foot foot foot foot foot foot foot foot foot foot";
}

ul li{
    display: inline-block;
}
h2{
    grid-area: logo;
}
nav{
    grid-area: nav;
}
section{
    grid-area: cont;
}
aside{
    grid-area: side;
}
footer{
    grid-area: foot;
}